body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

.tap-btn {
  background: #22c55e;
  color: black;
  padding: 15px;
  width: 100%;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  margin: 20px 0;
}

.menu button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
}
