body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  border-radius: 12px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.box:hover {
  transform: scale(1.1);
}
