body {
  background: #0b1020;
  color: white;
  text-align: center;
  font-family: Arial;
}

#tapBtn {
  width: 220px;
  height: 220px;
  margin: 40px auto;
  border-radius: 50%;
  background: radial-gradient(circle, #2ecc71, #27ae60);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}
